*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url("images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  hsl(0, 100%, 74%);
}

h1{
    font-weight: 600;
    font-size: 1.8em;
    margin: 0 auto 22px;
    padding: 0 30px;
    line-height: 1.3em;
    color: hsl(0, 0%, 100%);
}

h2{
    font-size: 1em;
    line-height: 1.6em;
}

h2 span:first-child{
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

h2 span:last-child{
    font-weight: 400;
    color: hsl(0, 0%, 90%);
}

p{
    font-weight: 400;
    line-height: 1.65;
    font-size: 1.05em;
    color: hsl(0, 0%, 98%);
}

.p-1{
    font-size: 0.7em;
}

.p-1 span:first-child{
    color: hsl(246, 25%, 77%);
    font-weight: 500;
}

.p-1 span a:last-child{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.p-1 span a:hover{
    text-decoration: underline;
}

.intro-component-container{
    padding: 95px 20px 70px;
}

.intro-component-content{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.intro-component-section-1{
    flex: 100%;
}

.intro-header-content{
    text-align: center;
}

.intro-component-section-2{
    flex: 100%;
}

.trial-mode-container{
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    padding: 19px 60px;
    box-shadow: 0 7px 0 0 hsla(0, 0%, 0%, 0.15);
    margin-bottom: 30px;
    text-align: center;
}

.intro-component-form{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 25px 20px 40px 23px;
    box-shadow: 0 7px 0 0 hsla(0, 0%, 0%, 0.15);
}

form{
    margin-bottom: 10px;
}

form .field{
    width: 100%;
    margin-bottom: 15px;
}

form .field.shake{
    animation: shake 0.3s ease-in-out;
}

@keyframes shake{
    0%, 100%{
        margin-left: 0;
    }
    20%, 80%{
        margin-left: -12px; 
    }
    40%, 60%{
        margin-left: 12px; 
    }
}

form .field .input-area{
    position: relative;
}

form input{
    width: 100%;
    outline: none;
    border: none;
    padding: 16px 0 16px 30px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    margin: 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-bottom-width: 2px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="text"]:focus{
    border: 1px solid hsl(153, 60%, 45%);
}

form .field.error input{
    border-color: hsl(354, 70%, 54%);
}

form .field.err input{
    color: hsl(0, 100%, 74%);
}

form input::placeholder{
    color: hsla(249, 10%, 26%,0.7);
    font-size: 0.9em;
    font-weight: 700;
}

form .field i{
    position: absolute;
    top: 50%;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
} 

form .field .icon{
    left: 15px;
    color: #bfbfbf;
}

form .field .error-icon{
    right: 20px;
    color: hsl(0, 100%, 74%);
}

form .field .error-txt{
    color: hsl(0, 100%, 74%);
    margin-top: 5px;
    text-align: right;
    font-style: italic;
    font-size: 0.78em;
}

form .field .error{
    display: none;
}

form .field.error .error{
    display: block;
}

input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    font-size: 1.03em;
    font-weight: 500;
    color: hsl(0, 0%, 97%);
    text-align: center;
    padding: 14px 0 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 4px 0 0 hsl(153, 60%, 45%);
}

input[type=submit]:hover{
    background-color: hsla(154, 59%, 51%,0.7);
    box-shadow: 0 4px 0 0 hsl(153, 60%, 45%);
}


.form-footer{
    text-align: center;
    padding: 0 18px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    width: 100%;
    bottom: 1%;
    color: hsl(0, 0%, 100%);
} 

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

.attribution a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    .intro-component-container{
        padding: 95px 60px 70px;
    }   

}

@media only screen and (min-width: 1000px){
    body{
        background-image: url("images/bg-intro-desktop.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color:  hsl(0, 100%, 74%);
        min-height: 100vh;
        overflow: hidden;
    }

    h1{
        font-weight: 700;
        font-size: 2.8em;
        margin-bottom: 23px;
        padding: 0;
        line-height: 1.15em;
    }

    h2{
        font-size: 0.9em;
        line-height: 1.6em;
    }

    p{
        line-height: 1.55em;
        font-size: 0.93em;
    }

    .p-1{
        font-size: 0.65em;
    }

    .intro-component-container{
        padding: 90px 130px 5px;
    }

    .intro-component-content{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }

    .intro-component-section-1{
        flex: 50%;
        padding-top: 30px;
    }

    .intro-header-content{
        text-align: left;
    }

    .intro-component-section-2{
        flex: 50%;
    }
    
    .trial-mode-container{
        padding: 15px 60px 13px;
        margin-bottom: 20px;
    }

    .intro-component-form{
        border-radius: 10px;
        padding: 25px 35px 40px 35px;
    }
    
    form .field i{
        font-size: 25px;
    }

    input[type=submit] {
        font-size: 1.0em;
    }
}

@media only screen and (min-width: 1400px){
                
    h1{
        font-size: 3.1em;
        margin: 0 auto 30px;
    }
    
    p{
        font-size: 1em;
        line-height: 1.8;
    }

    .intro-component-container{
        padding: 90px 155px 5px;
    }

    .intro-component-content{
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
}
