*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  hsl(0, 100%, 74%);
}

h1{
    font-weight: 600;
    font-size: 1.8em;
    margin: 0 auto 22px;
    padding: 0 30px;
    line-height: 1.3em;
    color: hsl(0, 0%, 100%);
}

h2{
    font-size: 1em;
    line-height: 1.6em;
}

h2 span:first-child{
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

h2 span:last-child{
    font-weight: 400;
    color: hsl(0, 0%, 90%);
}

p{
    font-weight: 400;
    line-height: 1.65em;
    font-size: 1.05em;
    letter-spacing: ;
    color: hsl(0, 0%, 98%);
}

.p-1{
    font-size: 0.7em;
}

.p-1 span:first-child{
    color: hsl(246, 25%, 77%);
    font-weight: 500;
}

.p-1 span a:last-child{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.p-1 span a:hover{
    text-decoration: underline;
}

.intro-component-container{
    padding: 95px 20px 70px;
}

.intro-component-content{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.intro-component-section-1{
    flex: 100%;
}

.intro-header-content{
    text-align: center;
}

.intro-component-section-2{
    flex: 100%;
}

.trial-mode-container{
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    padding: 19px 60px;
    box-shadow: 0 7px 0 0 hsla(0, 0%, 0%, 0.15);
    margin-bottom: 30px;
    text-align: center;
}

.intro-component-form{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 18px 20px 40px 23px;
    box-shadow: 0 7px 0 0 hsla(0, 0%, 0%, 0.15);
}

form{
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 16px 0 16px 17px;
    margin: 9px 0;
    border: none;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="text"]:focus{
    border: 1px solid hsl(249, 10%, 26%) ;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    color: hsla(249, 10%, 26%,0.7);
    font-size: 1em;
    font-weight: 600;
}

input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.03em;
    font-weight: 500;
    color: hsl(0, 0%, 97%);
    text-align: center;
    padding: 16px 0 13px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 0 0 hsl(153, 60%, 45%);
}

input[type=submit]:hover{
    background-color: hsla(154, 59%, 51%,0.7);
    box-shadow: 0 4px 0 0 hsl(153, 60%, 45%);
}

.form-footer{
    text-align: center;
    padding: 0 18px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    width: 100%;
    bottom: 1%;
    color: hsl(0, 0%, 100%);
} 

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

.attribution a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 1000px){
    body{
        background-image: url("images/bg-intro-desktop.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color:  hsl(0, 100%, 74%);
        min-height: 100vh;
    }

    h1{
        font-weight: 700;
        font-size: 2.8em;
        margin-bottom: 23px;
        padding: 0;
        line-height: 1.15em;
    }

    h2{
        font-size: 0.9em;
        line-height: 1.6em;
    }

    p{
        line-height: 1.55em;
        font-size: 0.93em;
    }

    .p-1{
        font-size: 0.65em;
    }

    .intro-component-container{
        padding: 110px 130px 40px;
    }

    .intro-component-content{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .intro-component-section-1{
        flex: 50%;
        padding-top: 155px;
    }

    .intro-header-content{
        text-align: left;
    }

    .intro-component-section-2{
        flex: 50%;
    }
    
    .trial-mode-container{
        padding: 15px 60px 13px;
        margin-bottom: 20px;
    }

    .intro-component-form{
        border-radius: 10px;
        padding: 25px 35px 40px 35px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]{
        padding: 16px 0 16px 30px;
        font-weight: 500;
        font-size: 0.9em;
    }

    ::placeholder{
        font-family: 'Poppins', sans-serif;
        color: hsla(249, 10%, 26%,0.6);
        font-size: 0.9em;
        font-weight: 700;
    }
    
    input[type=submit] {
        font-size: 1.0em;
    }
}